{{ define "main" }}
    <header class="content__header">
        <h2>{{ .Title | markdownify }}</h2>
    </header>
    {{ if .Params.toc }}
    <aside>
    </aside>
    {{ end }}
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Lastmod) }}
        <p>
            {{ if .Params.author }}By {{ .Params.author }},{{ end }}
            {{ .Lastmod.Format "Jan 02, 2006 3:04 PM" }}
        </p>
    {{ end }}

    {{ if and (.Params.toc) (.TableOfContents) }}
	    <hr>
	    On this page:
	    {{ .TableOfContents }}
    {{ end }}
{{ end }}
